article.container {
    margin: 20px auto;
}

.titulo {
    background-image: url(../img/sobre-background.jpg);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #333333;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0 20px;
    padding-bottom: 5px;
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px 45px;
    text-align: center;
    text-indent: 15px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    line-height: 24px;
    margin-bottom: 10px;
    padding: 0 45px;
    text-indent: 15px;
}

p:first-letter {
    font-weight: bold;
}

h1 + p {
    text-indent: 0;
}

:not(p) + p:first-line {
  font-variant: small-caps;
}

#centro-distribuicao {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

#diferenciais ul {
    margin-left: 30px;
}
#diferenciais li {
    line-height: 24px;
    list-style: disc;
    padding-left: 10px;
    margin-bottom: 10px;
}